@mixin zoom(){
    &:hover{
        transform: scale(1.08);
    }
}
@mixin desaparecer(){
    animation-duration: 3s;
    animation-name: opacidad;
    @keyframes opacidad {
        from {opacity: 1;}
        to {opacity: 0;}
    }
}

