@mixin modalRegistro($tema) {
    /* .cont-modal {
        display: none;
        
        padding-top: 10%;

        background-color: white;
        background-color: rgba(0,0,0,0.4);
    } */
    #modalRegistro{
        padding-top: 20%;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .modalContent {
        background-color: #fefefe;
        margin: auto;
        padding: 5%;
        border: 1px, solid #888;
        width: 80%;
    }
    .close {
        color: #aaaaaa;
        float: right;
        margin-bottom: 50%;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}