@mixin registro($tema) {
    body {   
        footer{
            margin-top: 1vh;
            padding: 1vh;
            text-align: center;
            background: map.get($tema,"colorPrimario");
            color: map.get($tema,"colorLetraBlanco");
        }
        
        .contenedorRegistro{
            background: map.get($tema,"colorPrimario");
            color: map.get($tema,"colorLetraBlanco");
        }
        
        .boton {
            button {
                background: map.get($tema,"colorSecundario");
                border-radius: 10vh;
                border: none;
                width: 80%;
                font-size: 12pt;
            }
            button:hover{
                background: map.get($tema,"colorPrimario");
                transition: all 0.5s;
                @include zoom();
            }
        }

        .animado {
            animation: div_animado 3s linear ;
        }

        @keyframes div_animado {
            0% {transform: rotate(0deg);left:0px;}
            25% {transform: rotate(20deg);left:0px;}
            50% {transform: rotate(0deg);left:0px;}
        }
    }
}