@mixin registro($tema) {
    body {
        .cabecera{
            background: map.get($tema,"colorPrimario");
            color: map.get($tema,"colorLetraBlanco");
            img {
                height: 2.5%;
                width: 5%;
            }
        }

        .navbar {
            img {
                margin: 1%;
            }
            h2 {
                margin-right: 6%;
            }
            justify-content: space-between;
            text-align: center;
        }
        
        footer{
            padding: 1vh;
            text-align: center;
            background: map.get($tema,"colorPrimario");
            color: map.get($tema,"colorLetraBlanco");
        }
        
        .contenedorRegistro{
            background: map.get($tema,"colorPrimario");
            color: map.get($tema,"colorLetraBlanco");
        }
        
        .boton {
            button {
                background: map.get($tema,"colorSecundario");
                border-radius: 10vh;
                border: none;
                width: 80%;
                font-size: 12pt;
            }
            button:hover{
                background: map.get($tema,"colorPrimario");
                transition: all 0.5s;
                @include zoom();
            }
        }
    }
}