@import "animation";
@mixin tabla($tema) {
    .container {
        padding: 0;
        .container-info{
            margin: 4vh auto 3vh auto;
            p{
                margin: 0;
                .info-eliminar{
                    float: left;
                    background-color: map.get($tema,"colorBase");
                    font-size: map-get($tema, "texto");
                    border-radius: 0.5rem;
                    color: #000;
                    @include desaparecer();
                }
            }
            .crear-prueba{
                float: right;
                background: map.get($tema,"colorSecundario");
                border-radius: 5vh;
                border: none;
                width: 50%;
                font-size: map-get($tema, "texto");
                padding: 1vh;
                color: white;
                font-weight: map.get($tema,"pesoMedium");
                &:hover{
                    background: map.get($tema,"colorPrimario");
                    transition: all 0.5s;
                    @include zoom();
                }
            }
        }
        .tabla{
            margin-bottom: 5vh;
            .tabla-header{
                li{
                    padding: 0;
                    margin: auto;
                    a{
                        padding: 0;
                        margin: auto;
                        color: #000;
                        font-size: map.get($tema,"categoria");
                        font-weight: map.get($tema,"pesoMedium");
                    }
                }
            }
            .contenedor-tabla{
                overflow-y: scroll;
                height: 61vh;
                font-size: map-get($tema, "texto");
                .card-body{
                    div{
                        div{
                            margin: 0;
                            padding: 0;
                        }
                        .acciones{
                            text-align: center;
                            margin: auto;                        
                            i{
                                cursor: pointer;
                                color: map-get($tema, "colorBase");
                                font-size: map-get($tema, "iconos");
                                &:hover{
                                    color: map-get($tema, "colorBaseHover");
                                    transition: all 0.5s;
                                    @include zoom();
                                }
                            }
                        }
                        
                    }
                } 
            }
            .contenedor-tabla::-webkit-scrollbar {
                width: 8px;
                background-color: rgb(246, 246, 246);
            }
            .contenedor-tabla::-webkit-scrollbar-thumb {
                background: map.get($tema,"colorSecundario");
                border-radius: 4px;
            }
        }
    }
    .modal{
        display: none;
        position: fixed; 
        z-index: 1; 
        height: 100vh;
        overflow: auto; 
        background-color: map.get($tema,"sombra"); 
        .modal-dialog{
            margin-top: 20vh;
            .contenedor-modal{
                .modal-header{
                    background: map.get($tema,"colorPrimario");
                }
                .modal-body{
                    .card{
                        .card-header{
                            h6{
                                margin: 0;
                            }
                        }
                        .lista-candidatos{
                            height: 37vh;
                            overflow-y: scroll;
                            .card{
                                .card-body{
                                    p{
                                        margin: 0;
                                    }
                                }
                            }
                        }
                        .lista-usuarios{
                            height: 54vh;
                            overflow-y: scroll;
                            .card{
                                .card-body{
                                    p{
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .modal-footer{
                    button{
                        background: map.get($tema,"colorSecundario");
                        border-radius: 10vh;
                        border: none;
                        width: 28%;
                        margin-left: 1rem;
                        padding: 0.3rem;
                        font-size: map-get($tema, "texto"); 
                        &:hover{
                            background: map.get($tema,"colorPrimario");
                            transition: all 0.5s;
                            @include zoom();
                        }
                    }
                }
            }
        }
    }
}