@import "~bootstrap/scss/bootstrap";
@import "animation";

header{
    padding: 1vh;
    width: 100%;
    background: linear-gradient(to bottom right,  #09203f, #537895);
}

.proceso{
    display: flex;
    justify-content: space-around;
    margin: 4vh auto 5vh auto;

    div{
        button{
            background: linear-gradient(to bottom right, #cfd9df, #e2ebf0);
            border-radius: 10vh;
            border: none;
            font-size: 20pt; 
            width: 10vh; 
        }
        .activa{
            background: linear-gradient(to bottom right,  #09203f, #537895);
        }
        p{
            font-weight: 300;
            text-align: center;
        }
    }    
}

.contenedor, .contenedor-prueba{
    display: flex;
    justify-content: center;
    .titulos{
        border-bottom: 1px solid grey;
    }
    h6{
        font-weight: 400;
    }
    .list-group{
        p{
            font-weight: 500;
            font-size: 14pt;
        }
        button{
            background: linear-gradient(to bottom right,  #cfd9df, #e2ebf0);
            border-radius: 10vh;
            border: none;
            width: 80%;
            font-size: 12pt;
        }
        .confirmar{
            text-align: center;
            button{
                width: 30%;
            }
        }
        button:hover{
            background: linear-gradient(to bottom right,  #09203f, #537895);
            transition: all 0.5s;
            @include zoom();
        }
        span{
            font-size: 10pt;
            font-weight: 300;
            color: rgb(226, 59, 59);
            display: block;
        }
        select{
            width: 27vh;
        }
    }
}

.copy{
    background: linear-gradient(to bottom right,  #09203f, #537895);
    padding: 1vh;
    color: #fff;
    text-align: center;
    width: 100%;
}