@use "sass:map";
@import "~bootstrap/scss/bootstrap";
@import "animation", 'tabla', 'pruebas'; 

$tema:(
    "colorPrimario": linear-gradient(to bottom right,  #ab5cf9, #baefe5),
    "colorSecundario": linear-gradient(to bottom right,  #cfd9df, #e2ebf0),
    "colorBase" : #cfd9df,
    "colorBaseHover" : #ab5cf9,
    "pesoBold":700,
    "pesoSemiBold":600,
    "pesoMedium":500,
    "pesoRegular":400,
    "pesoLight":300,
    "error" : 10pt,
    "texto" : 12pt,
    "categoria" : 14pt,
    "tamPasos" : 20pt,
    "iconos" : 16pt,
    //"tipografia": Quicksand,

    "colorLetraBlanco": white,
);

@include tabla($tema);
@include pruebas($tema);


/**************************ESTILO LOGIN Y REGISTRO**************************************/
.btn-signUp{
    border-radius: 4vh;
    border: 0;
    margin-top: 2vh;
    text-align: center; 
    background: linear-gradient(to bottom right,  #ab5cf9, #baefe5);
}

.cabecera{
    background: linear-gradient(to bottom right,  #ab5cf9, #baefe5);
    color: #fff;
}

.navbar{
    justify-content: center;
}

footer{
    padding: 1vh;
    text-align: center;
    background: linear-gradient(to bottom right,  #ab5cf9, #baefe5);
    color: #fff;
}

.contenedorRegistro{
    background: linear-gradient(to bottom right,  #ab5cf9, #baefe5);
    color: #fff;
    .signUp{
        background-color: #fff;
        .area-texto{
            background: rgba(255, 255, 255, 0.703);
        }
    }
}