@use "sass:map";
@import "~bootstrap/scss/bootstrap";
@import "animation", 'tabla', 'pruebas', 'registro'; 

$tema:(
    "colorPrimario": linear-gradient(to bottom right,  #ab5cf9, #baefe5),
    "colorSecundario": linear-gradient(to bottom right,  #cfd9df, #e2ebf0),
    "colorBase" : #cfd9df,
    "colorBaseHover" : #ab5cf9,
    "pesoBold":700,
    "pesoSemiBold":600,
    "pesoMedium":500,
    "pesoRegular":400,
    "pesoLight":300,
    "error" : 10pt,
    "texto" : 12pt,
    "categoria" : 14pt,
    "tamPasos" : 20pt,
    "iconos" : 16pt,
    "sombra":rgba(0, 0, 0, 0.6),
    //"tipografia": Quicksand,

    "colorLetraBlanco": white,
);

@include tabla($tema);
@include pruebas($tema);
@include registro($tema);

.volver {
    width: 10%;
}